<div class="row ">
  <div class="col-md-6 offset-md-3">    
    <div class="card"> 
      <div class="card-header">        
        <div class="panel-title">Administração</div>
      </div>
      
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="card-body">

          <div class="col-12 py-3">
            <div class="input-group has-validation">
              <span class="input-group-text">E-mail*</span>
              <%= f.email_field :email, autofocus: true, class: "form-control",  id: "email",  placeholder: "E-mail" %>
            </div>
          </div>

          <div class="col-12 py-3">
            <div class="input-group has-validation">
              <span class="input-group-text">Senha*</span>
              <%= f.password_field :password, class: "form-control",  id: "password",  placeholder: "Senha" %>
            </div>
          </div>

        </div>

        <div class="card-footer text-center">
          <%= f.submit "Acessar", class: "w-50 btn btn-primary" %>
        </div>
      <% end %>

    </div>
  </div>
</div>
